<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pex examples</title>
</head>
<body>
  <h1>Pex examples</h1>
  <% examples.forEach(function(example) { %>
    <div>
      <a href="examples/<%= example %>">
        <img src="examples/<%= example %>/thumb.png" />
        <h4><%= example %></h4>
      </a>
    </div>
  <% }) %>
</body>
</html>
